<body>
    <div class="container">
      <article>
          <h4><%= @story.title %></h4>
          <p><%= @story.content %></p>
          <p class="name-font">- by <%= @story.user.name %></p>
      </article>

      <div class="comments">
        <div class="comment">
          <% @comments.each do |comment| %>
            <p><%= comment.content %> <span class="name-font">by <%= comment.comment_by.name %></span></p>
          <% end %>
        </div>

        <div class="comment-form">
          <h4>Leave a Comment</h4>
          <textarea name="comment" id="comment" placeholder="Your Comment" required></textarea>
          <button id="submit_comment_<%= @story.id %>" onclick="submit_comment(<%= @story.id %>)">Submit</button>
        </div>
      </div>
    </div>
</body>
</html>

<script>
function submit_comment(story_id) {
  content = $('#comment').val();
  if(content.length < 5 || content.length > 50) {
    alert("Comment must be at least 5 and less than 50 characters");
    return;
  }

  $.ajax({
      url: '/comments/submit_comment',
      type: 'POST',
      dataType: 'json',
      data: {
        comment: content,
        story_id: story_id
      },
      success: function(data) {
        $('#comment').val('');
          alert(data.message);
      },
      error: function(data) {
          alert(data.responseText);
      }
  });
}

</script>
