<!DOCTYPE html>
<html>
  <head>
    <title>Blogpost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: 0px; padding: 0px;">
    <%= render 'shared/header' %>
    <div style="margin: 33px;">
        <div style="width: 100%; height: 40px; text-align: center; font-weight: bold; margin-top: 50px;">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

      <%= yield %>
    </div>

  </body>
</html>
